body,
html {
    margin:0;
    padding:0;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Lora', serif;
    background: #efefef;
}

img {
    max-width:100%;
    height:auto;
}

figure {
    padding: 1rem;
    background: #E7E8F4;
    margin: 0 0 1rem;
}

figure img {
    display: block;
}

figcaption {
    font-weight: bold;
    font-size: 1rem;
    margin-top: .5rem;
}

figcaption > *:last-child {
    margin-bottom: 0;
}

p {
    margin-top:0;
}

h2 {
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2em;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    max-width:1000px;
    margin:0 auto;
    overflow:auto;
    padding: 1rem;
}

.hero {
    position: relative;
    padding-top: 40%;
    overflow: hidden;
}

.hero img {
    width:100%;
    position: absolute;
    top: -25%; /* Center it */
    left: 0;
}

.header {
    background: rgba(255,255,255,0.9);
}

nav {
    text-align:center;
    overflow: hidden;
}

nav a {
    text-decoration:none;
    display:inline-block;
    padding:20px;
    color:#5B7CA5;
    width:50%;
    float:left;
    font-size: 1.1em;
}

nav a:hover,
nav a:focus {
    background: #5B7CA5;
    color: #fff;
}

.section {
    padding:4rem 0;
}

.header .wrapper {
    padding: 0;
}

.section--image{
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    padding-top:30%;
}

.text {
    max-width: 40em;
    font-size: 1.2em;
    margin: 0 auto;
    line-height: 1.5;
}

@media (min-width:700px){
    .header {
        position: absolute;
        left: 0;
        right: 0;
        transform: translateY(-100%);
    }
    nav a {
        width:25%;
    }

    .section--2-columns .text{
        -webkit-columns: 2;
        -moz-columns: 2;
        -o-columns: 2;
        columns: 2;
    }
    .section--2-columns .text p{
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
    }
}
